.link {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%;
  justify-content: center;
  font-size: 0.625rem;
  gap: 0.4rem;
  border-left: 3px solid transparent;
}

.active {
  border-left: 3px solid var(--primary);
  background-color: var(--accent);
}

.link:hover {
  background-color: var(--accent-secondary);
}

.active *,
.link:hover * {
  color: var(--accent-foreground) !important;
}
