.container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
}

.buttonGroup > span {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  cursor: pointer;
}

.minimize {
  background-color: orange;
}

.maximize {
  background-color: green;
}

.close {
  background-color: indianred;
}
