.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border);
  margin-top: auto;
}

.signature {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
}
