.input {
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding-left: 1rem;
}

.input::placeholder {
  color: var(--muted-secondary-foreground);
}

.input:focus {
  color: var(--foreground);
}
