.header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0.5rem;
  border-bottom: 0.1px solid var(--border);
}

.flex {
  display: flex;
}

.gap {
  gap: 5px;
}

.flexEnd {
  justify-content: flex-end;
}

.alignedCenter {
  align-items: center;
}
